.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  background: url(../../images/backgroundContacts.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    height: 900px;
  }
  @media screen and (min-width: 1280px) {
    height: 1200px;
  }
}

.map {
  border: 0;
  width: 300px;
  height: 250px;
  @media screen and (min-width: 768px) {
    width: 500px;
    height: 400px;
  }
  @media screen and (min-width: 1280px) {
    width: 700px;
    height: 600px;
  }
}

.contactsContainer {
  margin-top: -4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 36px;
  background: #242f49;
  @media screen and (min-width: 768px) {
    width: 500px;
    height: 46px;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    width: 700px;
    height: 56px;
    justify-content: space-between;
  }
}

.telContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  fill: #fff;
  color: #fff;
  @media screen and (min-width: 768px) {
    margin-left: 15px;
  }
}

.telContainer:hover {
  fill: #bf2223;
  color: #bf2223;
}

.tel {
  margin-left: 5px;
  font-family: Stylish, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.socialContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }
}

.socialContainer > li:first-child {
  width: 22px;
  height: 22px;
}

.socialContainer > li:nth-child(2) {
  width: 18px;
  height: 18px;
}

.instaSvg:hover {
  fill: #bf2223;
  cursor: pointer;
}

.facebookSvg {
  fill: #fff;
}

.facebookSvg:hover {
  fill: #bf2223;
  cursor: pointer;
}
